<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Verb</title>
</head>
<body>
<a data-th-href="@{/home/verbs/verbs_list}">Back to List of Verbs</a>
<h1>Create new verb</h1>
<div data-th-if="${errors}">
    <h2>You have a mistake</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>
<br>
<form method="post" data-th-action="@{create}">
    <label>
        Infinitive: <br>
        <input type="text" name="infinitive" data-th-value="${payload?.infinitive}">
    </label><br>
    <label>
        Verb V2: <br>
        <input type="text" name="verb_v2" data-th-value="${payload?.verb_v2}">
    </label><br>
    <label>
        Verb V3: <br>
        <input type="text" name="verb_v3" data-th-value="${payload?.verb_v3}">
    </label><br>
    <label>
        Verb-ing: <br>
        <input type="text" name="ing" data-th-value="${payload?.ing}">
    </label><br>
    <label>
        Translate: <br>
        <input type="text" name="translate_ua" data-th-value="${payload?.translate_ua}">
    </label><br>
    <button type="submit">Create</button>
</form>
</body>
</html>



